body {
    background-color: #efefef;
}

body, html {
    height: 100%;
}

body, button, input, select, textarea {
    font-family: "Open Sans",Verdana,Tahoma,serif;
    color: #333;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

body {
    margin: 0;
}
body {
    display: block;
    margin: 8px;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.row {
    margin-right: -15
px
;
    margin-left: -15
px
;
}

.unpaid {
    color: #cc0000;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.row:after, .row:before {
    display: table;
    content: " ";
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



@media (min-width: 500px)
.invoice-col.right {
    float: right;
    text-align: right;
}

@media (min-width: 500px)
.invoice-col {
    float: left;
    width: 50%;
}
.invoice-col {
    position: relative;
    min-height: 1
px
;
    padding-right: 15
px
;
    padding-left: 15
px
;
}